<p class="text-xl" mat-dialog-title>¿Quiere borrar a {{ data.superhero }}?</p>

<div mat-dialog-content class="flex align-content-center">
  <mat-icon>info</mat-icon>
  <p>¡Este proceso es irreversible!</p>
</div>

<div mat-dialog-actions class="flex justify-content-between">
  <button mat-flat-button
          color="primary"
          (click)="onConfirm()"
          cdkFocusInitial>
    <mat-icon>done</mat-icon>
    Confirmar
  </button>

  <button mat-flat-button
          color="warn"
          (click)="onCancel()">
    <mat-icon>close</mat-icon>
    Cancelar
  </button>
</div>
